---

- name: |
    "5.1 | PATCH | Ensure Print Spooler (Spooler) is set to Disabled
     5.2 | PATCH | Ensure 'Print Spooler (Spooler) is set to Disabled"
  ansible.windows.win_regedit:
      path: HKLM:\SYSTEM\CurrentControlSet\Services\Spooler
      name: Start
      data: 4
      type: dword
  when:
      - win19cis_rule_5_1 or
        win19cis_rule_5_2
  tags:
      - level1-domaincontroller
      - level2-domainmember
      - rule_5.1
      - rule_5.2
      - patch
      - printer
